body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000;
    font-family: 'Helvetica', sans-serif;
}

.font {
    font-size: 14px;
}

.fixed-name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #000360, #000180);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    z-index: 1001; 
}

.fixed-name h2 {
    margin: 0;
}

.navbar {
    background-color: #000180;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40px; 
    width: 100%;
    z-index: 1000;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.portfolio-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 5px;
}

.logo-container {
    margin: 20px;
}

.logo-container img {
    border-radius: 8%;
    max-width: 25em;
    height: auto;
}

.text-container {
    max-width: 600px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.secao4 {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s ease;
}

.secao4-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.secao4-div-card img {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}

.secao4-div-card h3 {
    margin-bottom: 10px;
}

.secao4-div-card .valor {
    font-size: 24px;
    color: #ff8000;
    font-weight: bold;
    margin-top: 5px;
}


.footer {
    background-color: #000180;
    color: #ffffff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.footer a {
    color: #ffffff;
}

.footer p {
    margin: 0;
}

.footer-icons {
    font-size: 30px;
}

.footer-icons a {
    margin-right: 10px;
}

.footer-contact {
    flex: 1;
    font-size: 12px;
    margin-right: 12px;
}

.pagamento {
    background-color: #fefefe;
    padding: 20px;
    text-align: center;
}

.pagamento h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.pagamento p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.pagamento ul {
    list-style: none;
    padding: 0;
}

.pagamento li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.pagamento i {
    margin-right: 5px;
}


@media (max-width: 768px) {

    body {
        font-family: 'Helvetica', sans-serif;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: linear-gradient(to bottom, #000360, #000180);
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
    }

    .image-effect {
        flex-basis: calc(50% - 20px);
    }

    .nav-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
    }

    .image-effect {
        flex-basis: calc(50% - 20px);
    }

    .logo-container img {
        max-width: 100%;
    }

    .secao4-div-card {
        width: 100%;
    }

    .card {
        max-width: 100%;
    }

    .card .card-content .back,
    .card .card-content .front {
        padding: 20px 30px;
    }

    .card .card-content .front button {
        margin-top: 10px;
    }
    
}

@media (min-width: 769px) {

    .menu-icon {
        display: none;
    }

    .nav-list {
        display: flex;
    }

    .logo-container img {
        border-radius: 8%;
        max-width: 35em;
        height: auto;
    }
}

.mensagem {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: comic sans;
    font-size: 18px;
    color: #000000;
}

.card {
    width: 350px;
    height: 515px;
    perspective: 1000px;
    margin: 0 auto;
    position: relative;

  }
  
  .card .card-content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-content {
    transform: rotateY(180deg);
  }
  
  .card .card-content .front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: url(img/manutencao.jpeg);
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    backface-visibility: hidden;
  }
  
  .card .card-content .front h2 {
    font-weight: 500;
  }
  
  .card .card-content .front p {
    color: #ffffff;
    font-size: 13px;
  }
  
  .card .card-content .front button {
    width: 120px;
    border: 1px solid #ffffff;
    background: transparent;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    color: #ffffff;
  }
  
  .img-border{
    border-radius: 10%;
  }

  .card .card-content .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #fefefe;
    color: #000000;
    padding: 20px 40px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
  .card .card-content .back img {
    width: 120px;
  }
  
  .card .card-content .back h1 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 10px;
  }
  
  .card .card-content .back h1 span {
    font-weight: 400;
  }
  
  .card .card-content .back p {
    font-size: 14px;
  }
  
  .card .card-content .back .row {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .card .card-content .back .row .col {
    flex: 1;
    text-align: center;
    color: #555;
    font-size: 12px;
    position: relative;
  }
  
  .card .card-content .back .row .col::after {
    position: absolute;
    content: "";
    width: 1.5px;
    height: 20px;
    background: #4070f4;
    top: 5px;
    right: 0;
  }
  
  .card .card-content .back .row .col:last-child:after {
    display: none;
  }
  
  .card .card-content .back .row .col h2 {
    font-size: 20px;
  }
  
  .card .card-content .back .row .col p {
    margin-top: 5px;
  }
  
  .card .card-content .back .row button {
    background: #4070f4;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 8px 25px;
    border-radius: 30px;
    font-size: 14px;
    margin-right: 15px;
    box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
    cursor: pointer;
  }
  
  .card .card-content .back .row a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .card .card-content .back .row a i {
    color: #333;
  }